<div class='omh-legend'>
  <style scoped>
    .legend-row {
      height: 12px;
      overflow: hidden;
    }
    .legend-color {
      width: 10px;
      height: 10px; 
      float: left;
    }
    .legend-label {
      font-size:8px;
      line-height: 12px;
      margin: 0px 0px 0px 20px;
    }
  </style>
  <h3 style='margin-bottom: 5px;'>{NAME}</h3>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #42b532;'></div>
      <p class='legend-label'>Primary Forest</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #179b49;'></div>
      <p class='legend-label'>Secondary Forest</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #9ffd4d;'></div>
      <p class='legend-label'>Primary Swamp Forest</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #a7c91e;'></div>
      <p class='legend-label'>Secondary Swamp Forest</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #18ebb3;'></div>
      <p class='legend-label'>Primary Mangrove Forest</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #3ad3ad;'></div>
      <p class='legend-label'>Secondary Mangrove Forest</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #968f2c;'></div>
      <p class='legend-label'>Scrub</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #b7cf9a;'></div>
      <p class='legend-label'>Swamp Scrub</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #8f6027;'></div>
      <p class='legend-label'>Mixed Scrub/Rice</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #ff9e17;'></div>
      <p class='legend-label'>Savannah</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #a3a19f;'></div>
      <p class='legend-label'>Bare land</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #f527b8;'></div>
      <p class='legend-label'>Plantation</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #bb0c58;'></div>
      <p class='legend-label'>HTI</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #e9ff43;'></div>
      <p class='legend-label'>Mining</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #ff3401;'></div>
      <p class='legend-label'>Residential</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #987db7;'></div>
      <p class='legend-label'>Rice land</p>
  </div>
  <div class='legend-row'>
      <div class='legend-color' style='background-color: #622795;'></div>
      <p class='legend-label'>Dry rice land</p>
  </div>
</div>
  